.about {
  padding: 80px 20px;
  text-align: center;
}

.about-title {
  font-family: "Playfair Display", serif;
  font-size: 34px;
  margin-bottom: 20px;
}

.about-text {
  max-width: 700px;
  margin: 0 auto;
  font-size: 18px;
  color: #444;
  line-height: 1.6;
}
